<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Users', users_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit user</li>
    </ol>
</nav>

<div class="padding-30">
    <p class="padding-bottom-15">
        <%= link_to 'Show user detail âœï¸', @user %>
    </p>
    <%= render 'form', user: @user %>
</div>