<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Users', users_path %></li>
        <li class="breadcrumb-item active" aria-current="page">New user</li>
    </ol>
</nav>

<div class="padding-30">
    <%= render 'form', user: @user %>
</div>