<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Microposts', microposts_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New micropost</li>
  </ol>
</nav>
<div class="padding-30">
  <%= render 'form', micropost: @micropost %>
</div>
